<div class="w3-container w3-main " style="padding:2%;">
    <div >
        <div class="site-header-name ">
            
            <h1  style="line-height:.9;margin-right:24pt;" ><img  style="height: 100px;" src="{{ url_for('static', filename='light_control/images/header-logo.png') }}" 
              alt="Header image for Light Control" >
              Light Control</h1>
        </div>
    </div>
    <!--
    <div class="w3-hide-large ">
        <p>
                <img src="{{ url_for('static', filename='light_control/images/header-logo.png') }}" 
                alt="Header image for Light Control" >
        </p>
        <div class="site-small-header-name">
            <h2>Light Control</h2>
        </div>
    </div>
-->
</div>


